<%- include('partials/header') -%>

<header class="d-flex justify-content-center">
  <h1>Foro Educativo Inicio</h1>
</header>
<main class="d-flex flex-column align-items-center"></main>

<%- include("partials/footer") -%>
