<%- include('partials/header') -%>

<!-- Agrega el contenedor para la animación aquí, fuera del <main> -->
<div id="particles-js"></div>

<header class="header">
  <h1 class="main-title">Stock Actual</h1>
</header>
<main class="main-content">
  <!-- Contenido principal -->
  <div class="table-container">
    <!-- Tabla de Stock más pequeña y centrada -->
    <table class="table small-table">
      <thead>
        <tr>
          <th>Material</th>
          <th>Stock Actual</th>
        </tr>
      </thead>
      <tbody>
        <% stock.forEach(item => { %>
        <tr>
          <td><%= item.material %></td>
          <td><%= item.stock %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>

<%- include('partials/footer') -%>
