<%- include('partials/header') -%>
<!-- Agrega el contenedor para la animación aquí, fuera del <main> -->
<div id="particles-js"></div>

<header class="header">
  <h1 class="main-title">Stock General</h1>
</header>
<main class="main-content">
  <!-- Contenido principal -->

  <!-- Agrega la tabla aquí -->
  <table class="table">
    <thead>
      <tr>
        <th>Material</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí debes iterar sobre los materiales y mostrarlos en filas de la tabla -->
      <% materiales.forEach(material => { %>
      <tr>
        <td><%= material.nombre_materiales %></td>
        <td><%= material.cantidad %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include("partials/footer") -%>
