/* Fondo principal */
body {
  background-color: #ffffff;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 16px; /* Tamaño de fuente base */
}

/* Encabezado */
header {
  background-color: #ff6200;
  text-align: center;
  padding: 10px; /* Reducción del espaciado en dispositivos móviles */
}

/* Títulos principales */
.header h1 {
  color: #ffffff;
}

/* Estilos para los botones principales */
.btn-primary,
.btn-secondary,
.btn-form {
  background-color: #ff6200;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: auto; /* Ancho automático para los botones */
  margin-bottom: 10px; /* Agrega un margen inferior para separar botones */
}


/* Estilo de celdas en hover */
tr:hover {
  background-color: #ff6200;
  color: #ffffff;
}

/* Estilos para la tabla más pequeña */
.small-table {
  width: 70%;
  margin: 0 auto;
}

/* Alineación de texto en las celdas */
.small-table td {
  text-align: center;
  padding: 5px; /* Reducción del espaciado en celdas de tabla */
}

/* Formularios */
form {
  margin: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

/* Etiquetas de formulario */
label {
  font-weight: bold;
}

/* Campos de entrada de formulario */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #888888;
  border-radius: 5px;
}

/* Modales */
.modal-content {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

/* Mensajes de error */
.error-message {
  color: #ff0000;
  font-size: 14px;
}

/* Estilos para el contenedor de la animación */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Estilos para el encabezado */
.header-content {
  background-color: #ff6200;
  text-align: center;
  padding: 10px; /* Reducción del espaciado en dispositivos móviles */
}

/* Títulos principales dentro del encabezado */
.header-content h1 {
  color: #ffffff;
}

/* Estilos personalizados para otras partes de tu sitio web */

/* Por favor, agrega más estilos según sea necesario para personalizar tu diseño */

/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
  /* Redefine el espaciado en el encabezado y el contenido de los botones */
  header {
    padding: 10px;
  }

  /* Asegura que los botones se ajusten al ancho de la pantalla */
  .btn-primary,
  .btn-secondary,
  .btn-form {
    width: 100%;
    margin-top: 10px; /* Añade margen superior para separar botones */
  }

  
}
